.create-room-wrapper {
    min-height: 80vh;
}

.create-room-container {
    max-width: 600px;
}

.info-card {
    background-color: var(--white);
    padding: var(--spacing-8);
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-md);
    border-left: 6px solid var(--green-500);
}

/* Textarea: Mesma fonte do site + Itálico */
.idea-textarea {
    min-height: 200px;
    padding: var(--spacing-6);
    border: 2px solid var(--gray-200);
    border-radius: var(--radius-md);
    background-color: var(--white);
    transition: all var(--transition-normal);
    resize: none;

    /* HERANÇA DE FONTE */
    font-family: var(--font-main);
    font-size: var(--font-size-lg);
    font-style: italic; /* O toque que você pediu */
    color: var(--text-main);
}

.idea-textarea:focus {
    outline: none;
    border-color: var(--green-500);
    box-shadow: 0 0 0 4px rgba(34, 197, 94, 0.1);
    font-style: normal; /* Opcional: volta ao normal quando digita */
}

/* Textarea: Mesma fonte do site + Itálico */
.comment-textarea {
    min-height: 100px;
    min-width: 200px;
    padding: var(--spacing-6);
    border: 2px solid var(--gray-200);
    border-radius: var(--radius-md);
    background-color: var(--white);
    transition: all var(--transition-normal);
    resize: none;

    /* HERANÇA DE FONTE */
    font-family: var(--font-main);
    font-size: var(--font-size-lg);
    font-style: italic; /* O toque que você pediu */
    color: var(--text-main);
}

.comment-textarea:focus {
    outline: none;
    border-color: var(--green-500);
    box-shadow: 0 0 0 4px rgba(34, 197, 94, 0.1);
    font-style: normal; /* Opcional: volta ao normal quando digita */
}

.icon-arrow {
    transition: transform var(--transition-normal);
}

.btn-primary:hover .icon-arrow {
    transform: translateX(8px);
}

/* Container das estrelas */
.star-rating {
    display: flex;
    flex-direction: row-reverse; /* Inverte a ordem para o seletor ~ funcionar da esquerda para a direita */
    justify-content: flex-end;
}

.star-icon {
    transition: transform 0.1s ease, color 0.2s ease;
    color: var(--gray-300); /* Cor padrão (cinza) */
    cursor: pointer;
    font-size: 1.5rem;
}

/* Quando passar o mouse: pinta a estrela e todas as ANTERIORES (que no código são as próximas devido ao row-reverse) */
.star-icon:hover,
.star-icon:hover ~ .star-icon {
    color: var(--yellow-400);
    transform: scale(1.1);
}

/* Classe de estado FIXO (quando o Bill clicar) */
.star-icon.active,
.star-icon.active ~ .star-icon {
    color: var(--yellow-500); /* yellow-600 (um pouco mais escuro para diferenciar do hover) */
}

.star-muted {
    color: var(--text-muted);
}

.star-primary {
    color: var(--primary);
}