commands:
  01_install_redis:
    # No AL2023, o pacote específico é o redis6
    command: "sudo dnf install -y redis6"
  02_install_php_redis_ext:
    # Instala a extensão para o PHP conversar com o Redis
    command: "sudo dnf install -y php-pecl-redis || sudo pecl install --force redis"
    ignoreErrors: true
  03_enable_redis:
    # O nome do serviço também herda o "6"
    command: "sudo systemctl enable redis6"
  04_start_redis:
    command: "sudo systemctl start redis6"

container_commands:
  01_restart_php:
    # Reinicia o FPM para carregar a nova extensão no seu app
    command: "sudo systemctl restart php-fpm"
    ignoreErrors: true